<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container-fluid">
	<a class="navbar-brand" href="../../index.html">
		<img src="https://ik.imagekit.io/o9fejv2tr/RecsWeb%20Icons/logo.png?updatedAt=1756760270932" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tools</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="../../recipeScaler.html">Convert measurements</a></li>
			<li><a class="dropdown-item" href="../../filter.html">Filter Recipes</a></li>
			<li><a class="dropdown-item" href="../../tipsAndTricks.html">Tips and Tricks</a></li>
		</ul>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Basic Ingredients</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="../../filter.html?category=component">Components</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=dressing&category=sauce&category=dip">Dressing, Dips and Sauces</a></li>
		</ul>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Snacks and Appetizers</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="../../filter.html?category=snacks">Snacks</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=appetizer">Appetizers</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=streetfood">Streetfood</a></li>
		</ul>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=vegetables">Vegetables</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=soup">Soups</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=sandwiches">Sandwiches</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=breads">Breads</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=potato">Potatoes</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=noodles">Noodles</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=rice">Rice</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=egg">Eggs</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Meat and Fish</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="../../filter.html?category=pork">Pork</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=chicken">Chicken</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=beef">Beef</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=fish">Fish</a></li>
		</ul>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sweet</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="../../filter.html?category=cake&category=pastry">Cakes and Pastries</a></li>
			<li><a class="dropdown-item" href="../../filter.html?category=otherDesserts">Other Desserts</a></li>
		</ul>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="../../filter.html?category=drinks">Drinks</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cuisine</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="../../filter.html?country=America"><span class="fi fi-us"></span> American</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Great%20Britain"><span class="fi fi-gb"></span> British</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=China"><span class="fi fi-cn"></span> Chinese</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=France"><span class="fi fi-fr"></span> French</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Germany"><span class="fi fi-de"></span> German</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Greece"><span class="fi fi-gr"></span> Greek</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=India"><span class="fi fi-in"></span> Indian</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Italy"><span class="fi fi-it"></span> Italian</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Japan"><span class="fi fi-jp"></span> Japanese</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Mexico"><span class="fi fi-mx"></span> Mexican</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Thailand"><span class="fi fi-th"></span> Thai</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Turkey"><span class="fi fi-tr"></span> Turkish</a></li>
			<li><a class="dropdown-item" href="../../filter.html?country=Vietnam"><span class="fi fi-vn"></span> Vietnamese</a></li>
		</ul>
		</li>
	</ul>
	<form
		id="recipeSearchForm"
		class="navbar-search-form ms-auto"
		action="../../search.html"
		method="get"
		autocomplete="off"
		>
		<div class="navbar-search-wrap">
			<span class="navbar-search-icon" aria-hidden="true">
			<i class="fa-solid fa-magnifying-glass"></i>
			</span>

			<input
			id="recipeSearchInput"
			class="form-control navbar-search-input"
			type="search"
			name="q"
			placeholder="Find recipe..."
			aria-label="Find recipe"
			>

			<button class="navbar-search-submit" type="submit" aria-label="Search">
			<i class="fa-solid fa-arrow-right"></i>
			</button>

			<div id="recipeSuggestions" class="recipe-suggestions d-none"></div>
		</div>
	</form>
	</div>
</div>
</nav>