<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container-fluid">
	<a class="navbar-brand" href="../../index.html">
		<img src="https://ik.imagekit.io/o9fejv2tr/RecsWeb%20Icons/logo.png?updatedAt=1756760270932" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tools</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Convert measurements</a></li>
			<li><a class="dropdown-item" href="#">Filter Recipes</a></li>
			<li><a class="dropdown-item" href="#">Tips and Tricks</a></li>
		</ul>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Basic Ingredients</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">from scratch</a></li>
			<li><a class="dropdown-item" href="#">Dressing, Dips and Sauces</a></li>
		</ul>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Snacks and Appetizers</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Snacks</a></li>
			<li><a class="dropdown-item" href="#">Appetizers</a></li>
			<li><a class="dropdown-item" href="#">Streetfood</a></li>
		</ul>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Vegetables</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Soups</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Sandwiches</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Breads</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Potatoes</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Noodles</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Rice</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Eggs</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Meat and Fish</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Pork</a></li>
			<li><a class="dropdown-item" href="#">Chicken</a></li>
			<li><a class="dropdown-item" href="#">Beef</a></li>
			<li><a class="dropdown-item" href="#">Fish</a></li>
		</ul>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Sweet</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Cakes and Pastries</a></li>
			<li><a class="dropdown-item" href="#">Other Desserts</a></li>
		</ul>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Drinks</a>
		</li>
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cuisine</a>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#"><span class="fi fi-us"></span> American</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-gb"></span> British</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-cn"></span> Chinese</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-fr"></span> French</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-de"></span> German</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-gr"></span> Greek</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-in"></span> Indian</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-it"></span> Italian</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-jp"></span> Japanese</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-mx"></span> Mexican</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-th"></span> Thai</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-tr"></span> Turkish</a></li>
			<li><a class="dropdown-item" href="#"><span class="fi fi-vn"></span> Vietnamese</a></li>
		</ul>
		</li>
	</ul>
	</div>
</div>
</nav>